{% extends 'base.html' %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="success-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="danger-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>


<div class="mt-5 pt-4">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ message.tags }}:"><use xlink:href="#{{ message.tags }}-fill"/></svg>
          <div>
            {{ message }}
          </div>
        </div>
      {% endfor %}
  </ul>
  {% endif %}
  </div>


  <!--Main layout-->
  <main class="mt-2 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="view overlay">
                    <img src="/media/{{ flower.image }}" height="300" class="card-img-top"
                      alt="{{ flower.name }}">
                    <a href="#">
                      <div class="mask rgba-white-slight" ></div>
                    </a>
            </div>
          </div>
        </div>
        <!--column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge badge-pill info-color">{{ flower.category.name }}</span>
              </a>
              {% if flower.label %}
              <a href="">
                <span class="badge badge-pill {{ flower.get_label_display }}-color">{{ flower.label }}</span>
              </a>
              {% endif %}
            </div>

            <p class="lead">Narxi:
              {% if flower.discount_price %}
              <span class="mr-1">
                <del>{{ flower.price }}$</del>
              </span>
              <span>{{ flower.discount_price }}$</span>
              {% else %}
              <span>{{ flower.price }}$</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Ma'lumot uchun tavsif</p>

            <p>{{ flower.description | safe }}</p>

            {% if user.is_authenticated %}

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <a href="{{ flower.get_add_to_card_url }}" class="btn btn-primary btn-md my-0 p">Savatchaga qo'shish
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a href="{{ flower.get_remove_from_card_url }}" class="btn btn-danger btn-md my-0 p">Savatdan olib tashlang
                <i class="fas fa-solid fa-trash ml-1"></i>
              </a>

            </form>

            {% endif %}

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Tavsiya etamiz!</h4>
          <p>Sizga yoqishi mumkin.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

            <!--Grid row-->
      <div class="row wow fadeIn">

        {% for flower in three_objects%}
        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-4">

          <div class="view overlay">
                    <img src="/media/{{ flower.image }}" height="250" class="card-img-top"
                      alt="{{ flower.name }}">
                    <a href="{% url 'product' flower.id %}">
                      <div class="mask rgba-white-slight" ></div>
                    </a>
            </div>

        </div>
        <!--Grid column-->
        {% endfor %}

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock content %}