{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bu manzilda foydalanuvchi hisobingiz uchun parolni oʻzgartirishni soʻraganingiz uchun sizga ushbu xat yuborildi {{ site_name }}.{% endblocktranslate %}

{% translate "Iltimos, keyingi sahifaga o'ting va yangi parolni kiriting:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Agar unutgan bo\'lsangiz, foydalanuvchi nomingiz:' %} {{ user.get_username }}

{% translate "Saytimizdan foydalanganingiz uchun tashakkur!" %}

{% blocktranslate %}{{ site_name }} sayt nomi{% endblocktranslate %}

{% endautoescape %}