{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parolni o'zgartirish{% endblock title %}

{% block content %}
<div class="mt-5 pt-5">
<div class="col-6 offset-3">
    <h2>Parolni o'zgartirish</h2>
    <p>Avval eski parolingizni kiriting, so'ngra yangi parolingizni ikki marta kiriting!</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Yuborish</button>
    </form>
</div>
</div>
{% endblock content %}